{% extends "base.html" %} {% load static %} {% block index %} 
{% load i18n widget_tweaks %}




<main id="landing-page-content">
    <div class="wrapper">
    <div class="no-print container mt-5 ">
        {% if request.user.is_authenticated and request.user.is_staff %}
       <div class="d-flex justify-content-center">
         <h4>Submitted By: <span> {{ object.client }}</span></h4>
       </div>
       <div class="d-flex justify-content-center">
         <h4>Wire Request From: <span> {{ object.client.first_name }} {{ object.client.last_name }}</span></h4>
       </div>
        <div class="d-flex justify-content-center">
         <h4>Wire Request to: <span> {{ object.wire_details.recipient_name }}</span></h4>
       </div>
       {% else %}
       <div class="d-flex justify-content-center">
         <h4>Wire Request to: <span> {{ object.wire_details.recipient_name }}</span></h4>
       </div>
       {% endif %}
    </div>
        <div style="margin: 0px;"  action="{% url 'submit_form'%}">
            {% csrf_token %}
           <div class="form_table">
                <div class="row mb-3 mx-auto print-only">
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="col-md-auto col-20 form_label order-0 required_label">
                        <label>Submitted By: <span class="label"> {{ object.client }}</span>
                    </div>
                    <div class="col-md-auto col-20 form_label required_label">
                        <label>Wire Request From: <span class="label"> {{ object.wire_details.recipient_name }}</span>
                    </div>
                    <div class="col-md-auto col-20 form_label required_label">
                        <label>Wire Request to:  <span class="label"> {{ object.wire_details.recipient_name }}</span>
                    </div>
                    {% else %}
                    <div class="col-md-auto col-20 form_label required_label">
                        <label>Wire Request to:  <span> {{ object.wire_details.recipient_name }}</span>
                    </div>
                    {% endif %}
                </div>
            <!-- Wire Type Section -->
                <div class="row mb-3 mx-auto">
                    <div class="col-md-auto col-12 form_label order-0">
                        <input class="input_field" size="25"  value="{{ object.wire_details.destination }}" disabled>
                    </div>
                    <div class="col-md-auto col-12 form_label">
                        <input class="input_field" size="25"  value="{{ object.wire_details.currency }}" disabled>
                    </div>
                </div>
                
            <section class="form_section">
                <!-- Sending Section -->
                <div class="row_header row_data field1">
                    <input type="hidden" value="">
                    <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;"><span style="color:#FFFFFF;">Sending Details</span></h2>
                </div>

                <div class="form_label required_label field_new_2"><label>Business Name<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field_new_3 ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_businessname }}" disabled>
                </div>

                <div class="form_label required_label field_new_14"><label>Business Address<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field_new_15 ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_street_address }}" disabled>
                </div>

                <div class="form_label required_label field_new_16"><label>Business City<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field_new_17">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_city }}" disabled>
                </div>

                <div class="form_label required_label field_new_18"><label>Business State<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field_new_19">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_state }}" disabled>
                </div>

                <div class="form_label required_label field2"><label>Business Zip<span class="asterisk">*</span></label>
                </div>
                <div class="form_input field3">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_zipcode }}" disabled>
                </div>
                
                <div class="form_label required_label field4">
                    <label>Sending Account Number <span class="asterisk">*</span></label>
                </div>
                <div class="form_input field5">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_account_number.account_number }}" disabled>

                </div>
                <div class="form_label required_label field6 ">
                    <label>Sending Account Type<span class="asterisk ">*</span></label>
                </div>

                <div class="form_input field7 ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_account_type }}" disabled>
                
                </div>

                <div class="form_label required_label field8 ">
                    <label>Amount<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input flatpickr-input field9">
                    <input class="input_field" size="25"  value="{{ object.wire_details.sending_amount }}" disabled>
                </div>
                
                <div class="form_label required_label field9a ">
                    <label>Effective Date<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input flatpickr-input field9b ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.effective_date }}" disabled>
                </div> 

					<!-- Receiving Section -->
                    <div class="row_header row_data field10">
                        <input type="hidden" value="">
                        <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;">
							<span style="color:#FFFFFF;">Recipient Details</span></h2>
                </div>
                <div class="form_label required_label field11"><label>Recipient Name<span class="asterisk">*</span></label>
                </div>
                <div class="form_input field12">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_name }}" disabled>
                </div>
                <div class="form_label required_label field13">
                    <label>Recipient Account Type<span class="asterisk">*</span></label>
                </div>
                <div class="form_input field14">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_account_type }}" disabled>
                </div>
                <div class="form_label required_label field15 ">
                    <label>Recipient Account Number<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field16 ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_account_number }}" disabled>
                </div>
                <div class="form_label required_label field17">
                    <label>Recipient Routing Number<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field18 ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_routing_number }}" disabled>
                </div>
                <div class="form_label required_label field11a"><label>Recipient Street Address<span class="asterisk">*</span></label>
                </div>
                <div class="form_input field12a">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_street_address }}" disabled>
                </div>
                <div class="form_label required_label field13a">
                    <label>Recipient City<span class="asterisk">*</span></label>
                </div>
                <div class="form_input field14a">
                     <input class="input_field" size="25"  value="{{ object.wire_details.recipient_city }}" disabled>
                </div>
                <div class="form_label required_label field15a ">
                    <label>Recipient State<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field16a ">
                    <input class="input_field" size="25"  value="{{ object.wire_details.recipient_state }}" disabled>
                </div>
                <div class="form_label required_label field17a">
                    <label>Recipient Zip Code<span class="asterisk ">*</span></label>
                </div>
                <div class="form_input field18a">
                     <input class="input_field" size="25"  value="{{ object.wire_details.recipient_zipcode }}" disabled>
                </div>

                   <!-- Receiving Bank Section -->
                   <div class="row_header row_data field19">
                    <input type="hidden" value="">
                    <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;">
					<span style="color:#FFFFFF;">Intermediary Institution</span></h2>
                </div>
                <div class="form_label required_label field20"><label>Receiving Bank Name</label>
                </div>
                <div class="form_input field21">
                    <input class="input_field" size="25"  value="{{ object.wire_details.receiving_bank_name }}" disabled>
                   
                </div>
                <div class="form_label required_label field22">
                    <label>Receiving Street Address</label>
                </div>
                <div class="form_input field23">
                    <input class="input_field" size="25"  value="{{ object.wire_details.receiving_street_address }}" disabled>
                </div>

                
                <div class="form_label required_label field24 ">
                    <label>Receiving Bank State</label>
                </div>
                <div class="form_input field25">
                    {% if order.wire_details.receiving_bank_state != 'None' %}
                        <input class="input_field" size="25"  value="{{ object.wire_details.receiving_bank_state}}" disabled>
                        {% else %}
                        <input class="input_field" size="25"  value="" disabled>
                        {% endif %}
                </div>

                <div class="form_label required_label field26a">
                    <label>Receiving Bank City</label>
                </div>
                <div class="form_input  field27a">
                    <input class="input_field" size="25"  value="{{ object.wire_details.receiving_bank_city }}" disabled>
                 </div>

                <div class="form_label required_label field26b">
                    <label>Receiving Bank Zip Code</label>
                </div>
                <div class="form_input  field27b">
                    <input class="input_field" size="25"  value="{{ object.wire_details.receiving_bank_zipcode }}" disabled>
                 </div>

					 <!-- Intermediary Section -->
                     <div class="row_header row_data field28">
                        <input type="hidden" value="">
                        <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;">
                            <span style="color:#FFFFFF;">Further Credit To</span></h2>
                    </div>
                    <span id="hidden" style="display:none;">Require</span>
                    <div class="form_label required_label field29">
                        <label>Intermediary Bank Name <span class="ibank">*</span> </label>
                         <span  for="{{ form.intermediary_bank_name.id_for_label }}"> </span>
                        
                    </div>
                    <div class="form_input field30">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_name }}" disabled>
                    </div>
    
                    <div class="form_label required_label field31">
                        <label>Intermediary Bank Street Address <span class="ibank">*</span></label>
                    </div>
                    <div class="form_input field32">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_st_adress }}" disabled>
                    </div>
                    <div id="ib_state_container2" class="form_label required_label field33 ">
                        <label>Intermediary Bank State</label>
                    </div>
                    <div class="form_input required_label field34">
                        {% if object.wire_details.intermediary_bank_state != 'None' %}
                            <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_state}}" disabled>
                            {% else %}
                            <input class="input_field" size="25"  value="" disabled>
                        {% endif %}
                    </div>
    
                    <div class="form_label required_label field34a ">
                        <label>Bank Zip</label>
                    </div>
                    <div class="form_input required_label field34b">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_post_code }}" disabled>
                    </div>
                    
                    <div class="form_label required_label field35">
                        <label>Country <span class="ibank">*</span></label>
                    </div>
                    <div class="form_input field36" >
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_country }}" disabled>
                    </div>
    
                    <div class="form_label required_label field37 ">
                        <label >Routing Number<span class="ibank "> </span></label>
                    </div>
                    <div class="form_input field37a">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_routing_number }}" disabled>
                    </div>
    
                    <div class="form_label required_label field38">
                            <label >SWIFT<span class="ibank "> </span></label>
                    </div>
                    <div class="form_input field38a">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_swift }}" disabled>
                    </div>
                    <div class="form_label required_label field39">
                        <label>IBAN<span class="ibank "> </span></label>
                    </div>
                    <div class="form_input field40 flatpickr-input ">
                        <input class="input_field" size="25"  value="{{ object.wire_details.intermediary_bank_iban }}" disabled>
                    </div>
                <div class="form_label required_label field42 no-print">
                    <div class="form_label required_label ">
                        <label ></label>
                    </div>
                    <div class="cbFormFieldCell">
                        <span class="cbFormData"><a href="https://sanctionssearch.ofac.treas.gov/" target="_blank" class="cbFormDataLink">OFAC Check</a></span>
                    </div>
                </div>
                <div class="form_label required_label field43 column1">
                    <div class="form_label required_label">
                        <label for="InsertRecordPurpose_Of_Wire">Purpose Of Wire</label>
                    </div>
                    <div class="cbFormFieldCell">
                        <input class="input_field" size="50"  value="{{ object.wire_details.purpose_of_wire }}" disabled>
                    </div>
                </div>
                <div class="form_label required_label field44 column2">
                    <div class="form_label cbFormLabel">
                        <label for="InsertRecordDescription">Description</label>
                    </div>
                    <div class="cbFormFieldCell">
                        <input class="input_field" size="60"  value="{{ object.wire_details.description }}" disabled>
                    </div>
                </div>
            </section>
            <div class="auth-button-container">
                <a class="btn btn-outline-info  mx-auto order-0"  href="{% url 'authorize_wire' object.id %}">Authorize</a>
                <a class="btn btn-danger mx-auto order-0" href="{% url 'reject_unauthorized_wire' object.id %}">Reject</a>
            </div>
            {% trans "Submit" as the_btn_label %}
        </div>
    </div>
</div>
</main>
{% endblock %}
