{% extends "base.html" %} 
{% load static %} 
{% block index %}
{% load static %} 
{% load i18n widget_tweaks %}

<ul style = "padding: 2rem" class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pills-home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
    </li>
  </ul>
    <div style = "padding: 2rem" class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div style = "padding: 0px;" class="mb-3 row_header row_data field1">
              <input type="hidden" value="">
              <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;"><span style="color:#FFFFFF;">Sending Details</span></h2>
          </div>
                <div style = "display: flex" class="form-row">
                  <div class="col-md-4 pe-3 mb-3">
                    <label for="validationDefault01">Business name</label>
                    <input value="{{ object.wire_details.sending_businessname }} type="text" class="form-control" id="validationDefault01" placeholder="Business name" value="Mark" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Business Address</label>
                    <input value="{{ object.wire_details.sending_street_address }}" type="text" class="form-control" id="validationDefault02" placeholder="Business Address" value="Otto" required>
                  </div>
                  <div class="col-md-4 ps-3 mb-3">
                    <label for="validationDefaultUsername">Business City</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                      </div>
                      <input value="{{ object.wire_details.sending_city }}" type="text" class="form-control" id="validationDefaultUsername" placeholder="Business City" aria-describedby="inputGroupPrepend2" required>
                    </div>
                  </div>
                </div>
                <div style = "display: flex" class="form-row">
                  <div class="col-md-6 pe-3 mb-3">
                    <label for="validationDefault03">Business State</label>
                    <input type="text" value="{{ object.wire_details.sending_state }}" class="form-control" id="validationDefault03" placeholder="Business State" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Sending Zip Code</label>
                    <input type="text" class="form-control" value="{{ object.wire_details.sending_zipcode }}" id="validationDefault04" placeholder="Sending Zip Code" required>
                  </div>
                  <div class="col-md-3 ps-3 mb-3">
                    <label for="validationDefault05">Sending Account Number</label>
                    <input type="text" value="{{ object.wire_details.sending_account_number.account_number }}" class="form-control" id="validationDefault05" placeholder="Sending Account Number" required>
                  </div>
                </div>
                <div style = "display: flex" class="form-row">
                    <div class="col-md-6 pe-3 mb-3">
                      <label for="validationDefault03">Sending Account Type</label>
                      <input type="text" value="{{ object.wire_details.sending_account_type }}" class="form-control" id="validationDefault03" placeholder="Sending Account Type" required>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault04">Sending Amount</label>
                      <input value="{{ object.wire_details.sending_amount }}" type="text" class="form-control" id="validationDefault04" placeholder="Sending Amount" required>
                    </div>
                    <div class="col-md-3 ps-3 mb-3">
                      <label for="validationDefault05">Effective Date</label>
                      <input value="{{ object.wire_details.effective_date }}" type="text" class="form-control" id="validationDefault05" placeholder="Effective Date">
                    </div>
                  </div>
  
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div style = "padding: 0px;" class="mb-3 row_header row_data field10">
          <input type="hidden" value="">
          <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;">
  <span style="color:#FFFFFF;">Recipient Details</span></h2>
  </div>
  
  <div style = "display: flex" class="form-row">
    <div class="col-md-6 pe-3 mb-3">
      <label for="validationDefault01">Recipient name</label>
      <input value="{{ object.wire_details.recipient_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Recipient name" value="Mark" required>
    </div>
    <div class="col-md-6  mb-3">
      <label for="validationDefault02">Recipient Account Type</label>
      <input value="{{ object.wire_details.recipient_account_type }}" type="text" class="form-control" id="validationDefault02" placeholder="Recipient Account Type" value="Otto" required>
    </div>
  </div>
  <div style = "display: flex" class="form-row">
    <div class="col-md-6  pe-3 mb-3">
      <label for="validationDefault03">Recipient Account Number</label>
      <input type="text" value="{{ object.wire_details.recipient_account_number }}" class="form-control" id="validationDefault03" placeholder="Recipient Account Number" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault04">Recipient Routing Number</label>
      <input type="text" class="form-control" value="{{ object.wire_details.recipient_routing_number }}" id="validationDefault04" placeholder="Recipient Routing Number" required>
    </div>
  </div>
  <div style = "display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Recipient Street Address</label>
        <input type="text" value="{{ object.wire_details.recipient_street_address }}" class="form-control" id="validationDefault03" placeholder="Recipient Street Address" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Recipient City</label>
        <input value="{{ object.wire_details.recipient_city }}" type="text" class="form-control" id="validationDefault04" placeholder="Recipient City" required>
      </div>
  </div>
  <div style = "display: flex" class="form-row">
    <div class="col-md-6 pe-3 mb-3">
      <label for="validationDefault03">Recipient State</label>
      <input type="text" value="{{ object.wire_details.recipient_state }}" class="form-control" id="validationDefault03" placeholder="Recipient State" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault04">Recipient Zip Code</label>
      <input value="{{ object.wire_details.recipient_zipcode }}" type="text" class="form-control" id="validationDefault04" placeholder="Recipient Zip Code" required>
    </div>
  </div>
  
     <!-- Receiving Bank Section -->
     <div style = "padding: 0px;" class="mb-3 row_header row_data field19">
      <input type="hidden" value="">
      <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;">
  <span style="color:#FFFFFF;">Intermediary Institution</span></h2>
  </div>
  <div style = "display: flex" class="form-row">
    <div class="col-md-6 pe-3 mb-3">
      <label for="validationDefault01">Recieving Bank Name</label>
      <input value="{{ object.wire_details.receiving_bank_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Recieving Bank Name" value="Mark" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault02">Recieving Street Address</label>
      <input value="{{ object.wire_details.receiving_street_address }}" type="text" class="form-control" id="validationDefault02" placeholder="Recieving Street Address" value="Otto" required>
    </div>
  </div>
  <div style = "display: flex" class="form-row">
    <div class="col-md-6 pe-3 mb-3">
      <label for="validationDefault03">Recieving Bank State</label>
      <input type="text" value="{{ object.wire_details.receiving_bank_state}}" class="form-control" id="validationDefault03" placeholder="Recieving Bank State" required>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault04">Recipient Bank City</label>
      <input type="text" class="form-control" value="{{ object.wire_details.receiving_bank_city }}" id="validationDefault04" placeholder="Recipient Bank City" required>
    </div>
  </div>
  <div style = "display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Recieving Bank Zipcode</label>
        <input type="text" value="{{ object.wire_details.receiving_bank_zipcode }}" class="form-control" id="validationDefault03" placeholder="Recieving Bank Zipcode" required>
      </div>
  </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
  
        <div style = "padding: 0px;" class="mb-3 row_header row_data field1">
          <input type="hidden" value="">
          <h2 style="background: {{ cunion.form_color }}; border: 1px solid rgb(204, 204, 204); padding: 5px 10px;"><span style="color:#FFFFFF;">Sending Details</span></h2>
      </div>
            <div style = "display: flex" class="form-row">
              <div class="col-md-4 pe-3 mb-3">
                <label for="validationDefault01">Intermediary Bank name</label>
                <input value="{{ object.wire_details.intermediary_bank_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Intermediary Bank name" value="Mark" required>
              </div>
              <div class="col-md-4 pe-3 mb-3">
                <label for="validationDefault02">Bank Street Address</label>
                <input value="{{ object.wire_details.intermediary_bank_st_adress }}" type="text" class="form-control" id="validationDefault02" placeholder="Bank Street Address" value="Otto" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Intermediary Bank State</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>
                  <input value="{{ object.wire_details.intermediary_bank_state}}" type="text" class="form-control" id="validationDefaultUsername" placeholder="Intermediary Bank State" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
            </div>
            <div style = "display: flex" class="form-row">
              <div class="col-md-6 pe-3 mb-3">
                <label for="validationDefault03">Bank Zip</label>
                <input type="text" value="{{ object.wire_details.intermediary_bank_post_code }}" class="form-control" id="validationDefault03" placeholder="Bank Zip" required>
              </div>
              <div class="col-md-3 pe-3 mb-3">
                <label for="validationDefault04">Country</label>
                <input type="text" class="form-control" value="{{ object.wire_details.intermediary_bank_country }}" id="validationDefault04" placeholder="Country" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Routing Number</label>
                <input type="text" value="{{ object.wire_details.intermediary_routing_number }}" class="form-control" id="validationDefault05" placeholder="Routing Number" required>
              </div>
            </div>
            <div style = "display: flex" class="form-row">
                <div class="col-md-6 pe-3 mb-3">
                  <label for="validationDefault03">SWIFT</label>
                  <input type="text" value="{{ object.wire_details.intermediary_bank_swift }}" class="form-control" id="validationDefault03" placeholder="SWIFT" required>
                </div>
                <div class="col-md-3 pe-3 mb-3">
                  <label for="validationDefault04">IBAN</label>
                  <input value="{{ object.wire_details.intermediary_bank_iban }}" type="text" class="form-control" id="validationDefault04" placeholder="IBAN" required>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault05"></label>
                  <span class="form-control"><a href="https://sanctionssearch.ofac.treas.gov/" target="_blank" class="cbFormDataLink">OFAC Check</a></span>
                </div>
              </div> 
              <div style = "display: flex" class="form-row">
                <div class="col-md-6 pe-3 mb-3">
                  <label for="validationDefault03">Description</label>
                  <input type="text" value="{{ object.wire_details.description }}" class="form-control" id="validationDefault03" placeholder="Description" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationDefault04">Purpose Of Wire</label>
                  <input value="{{ object.wire_details.purpose_of_wire }}" type="text" class="form-control" id="validationDefault04" placeholder="Purpose Of Wire" required>
                </div>
              </div> 
  
      </div>
    </div>
    <button style="background-color: {{ cunion.buttons_color }};"  type="submit" value="submit" class=" mx-auto order-0">Submit</button>



{% endblock %}