{% load static %}
{% comment %} {% load bootstrap5 %} {% endcomment %}
{% comment %} {% bootstrap_css %}
{% bootstrap_javascript %} {% endcomment %}
{% comment %} {% load django_bootstrap5 %} {% endcomment %}

<nav style="background-color: rgba(0, 0, 0, 0.05) !important;" class="px-4 navbar navbar-expand-lg navbar-light bg-light">
  {% if request.user.is_authenticated %}
  <a class="p-2 navbar-brand" href="#">
    {% if cunion %}
      {% comment %} <img alt="Robbins Financial-logo" class="justify-content-center" src="{% static 'images/logo.png' %}" style="width: 70%; height: 70%;"> {% endcomment %}
      <img alt="Robbins Financial-logo" class="d-inline-block align-top" src="{{ cunion.logo.url }}" style="width: 70%; height: 70%;">
    {% else %}
      <img style = "width: 30px; height: 30px;" alt="TruTreasury-logo" class="d-inline-block align-top" src="{% static 'images/logo1.png' %}">
    {% endif %}
    TRU WIRES
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'monthly_report' %}">Monthly Report<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Request Form<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'template-list' %}">Templates<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'recurrence-list' %}">Recurring Wires<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'wire_requests' %}">Wire Requests</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
    <span style="position: absolute; right: 0;" class="p-2 navbar-text">
      Hello, {{ request.user }}
    </span>
  </div>
  {% endif %}
</nav>

