{% extends "base.html" %} 
{% load static %} 
{% block index %} 
{% load i18n widget_tweaks %}
<div style = "padding: 0px;" class="container-fluid card">
<ul style="margin: 1rem" class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button style="color: #000000; padding: 1rem;" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#pills-home" type="button" role="tab" aria-controls="home" aria-selected="true">Sending Details</button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="color: #000000; padding: 1rem;" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Recipient Details</button>
  </li>
  <li class="nav-item" role="presentation">
    <button style="color: #000000; padding: 1rem;" class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Intermediary Details</button>
  </li>
</ul>
<div style="padding: 2rem; padding-top: 0rem;" class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div style="padding: 1rem; padding-left: 0rem; padding-top: 0rem;">
      <b><span style="color:#000000; font-size: large; font-weight: 600;">Sending Details</span></b>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-4 pe-3 mb-3">
        <label for="validationDefault01">Business name</label>
        <input value="{{ object.wire_details.sending_businessname }}" type="text" class="form-control" id="validationDefault01" placeholder="Business name" required disabled>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Business Address</label>
        <input value="{{ object.wire_details.sending_street_address }}" type="text" class="form-control" id="validationDefault02" placeholder="Business Address" required disabled>
      </div>
      <div class="col-md-4 ps-3 mb-3">
        <label for="validationDefaultUsername">Business City</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input value="{{ object.wire_details.sending_city }}" type="text" class="form-control" id="validationDefaultUsername" placeholder="Business City" aria-describedby="inputGroupPrepend2" required disabled>
        </div>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Business State</label>
        <input type="text" value="{{ object.wire_details.sending_state }}" class="form-control" id="validationDefault03" placeholder="Business State" required disabled>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">Sending Zip Code</label>
        <input type="text" class="form-control" value="{{ object.wire_details.sending_zipcode }}" id="validationDefault04" placeholder="Sending Zip Code" required disabled>
      </div>
      <div class="col-md-3 ps-3 mb-3">
        <label for="validationDefault05">Sending Account Number</label>
        <input type="text" value="{{ object.wire_details.sending_account_number.account_number }}" class="form-control" id="validationDefault05" placeholder="Sending Account Number" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Sending Account Type</label>
        <input type="text" value="{{ object.wire_details.sending_account_type }}" class="form-control" id="validationDefault03" placeholder="Sending Account Type" required disabled>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">Sending Amount</label>
        <input value="{{ object.wire_details.sending_amount }}" type="text" class="form-control" id="validationDefault04" placeholder="Sending Amount" required disabled>
      </div>
      <div class="col-md-3 ps-3 mb-3">
        <label for="validationDefault05">Effective Date</label>
        <input value="{{ object.wire_details.effective_date }}" type="text" class="form-control" id="validationDefault05" placeholder="Effective Date" disabled>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div style="padding: 0px;" class="mb-3 row_header row_data field10">
      <b><span style="color:#000000; font-size: large; font-weight: 600;">Recipient Details</span></b>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault01">Recipient name</label>
        <input value="{{ object.wire_details.recipient_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Recipient name" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Recipient Account Type</label>
        <input value="{{ object.wire_details.recipient_account_type }}" type="text" class="form-control" id="validationDefault02" placeholder="Recipient Account Type" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Recipient Account Number</label>
        <input type="text" value="{{ object.wire_details.recipient_account_number }}" class="form-control" id="validationDefault03" placeholder="Recipient Account Number" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Recipient Routing Number</label>
        <input type="text" class="form-control" value="{{ object.wire_details.recipient_routing_number }}" id="validationDefault04" placeholder="Recipient Routing Number" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Recipient Street Address</label>
        <input type="text" value="{{ object.wire_details.recipient_street_address }}" class="form-control" id="validationDefault03" placeholder="Recipient Street Address" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Recipient City</label>
        <input value="{{ object.wire_details.recipient_city }}" type="text" class="form-control" id="validationDefault04" placeholder="Recipient City" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Recipient State</label>
        <input type="text" value="{{ object.wire_details.recipient_state }}" class="form-control" id="validationDefault03" placeholder="Recipient State" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Recipient Zip Code</label>
        <input value="{{ object.wire_details.recipient_zipcode }}" type="text" class="form-control" id="validationDefault04" placeholder="Recipient Zip Code" required disabled>
      </div>
    </div>
    <div style="padding: 0px;" class="mb-3 row_header row_data field19">
      <b><span style="color:#000000; font-size: large; font-weight: 600;">Intermediary Institution</span></b>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault01">Receiving Bank Name</label>
        <input value="{{ object.wire_details.receiving_bank_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Receiving Bank Name" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Receiving Street Address</label>
        <input value="{{ object.wire_details.receiving_street_address }}" type="text" class="form-control" id="validationDefault02" placeholder="Receiving Street Address" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Receiving Bank State</label>
        <input type="text" value="{{ object.wire_details.receiving_bank_state }}" class="form-control" id="validationDefault03" placeholder="Receiving Bank State" required disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Recipient Bank City</label>
        <input type="text" class="form-control" value="{{ object.wire_details.receiving_bank_city }}" id="validationDefault04" placeholder="Recipient Bank City" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Receiving Bank Zipcode</label>
        <input type="text" value="{{ object.wire_details.receiving_bank_zipcode }}" class="form-control" id="validationDefault03" placeholder="Receiving Bank Zipcode" required disabled>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div style="padding: 0px;" class="mb-3 row_header row_data field1">
      <b><span style="color:#000000; font-size: large; font-weight: 600;">Further Credit To</span></b>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-4 pe-3 mb-3">
        <label for="validationDefault01">Intermediary Bank name</label>
        <input value="{{ object.wire_details.intermediary_bank_name }}" type="text" class="form-control" id="validationDefault01" placeholder="Intermediary Bank name" required disabled>
      </div>
      <div class="col-md-4 pe-3 mb-3">
        <label for="validationDefault02">Bank Street Address</label>
        <input value="{{ object.wire_details.intermediary_bank_st_adress }}" type="text" class="form-control" id="validationDefault02" placeholder="Bank Street Address" required disabled>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Intermediary Bank State</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input value="{{ object.wire_details.intermediary_bank_state }}" type="text" class="form-control" id="validationDefaultUsername" placeholder="Intermediary Bank State" aria-describedby="inputGroupPrepend2" required disabled>
        </div>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Bank Zip</label>
        <input type="text" value="{{ object.wire_details.intermediary_bank_post_code }}" class="form-control" id="validationDefault03" placeholder="Bank Zip" required disabled>
      </div>
      <div class="col-md-3 pe-3 mb-3">
        <label for="validationDefault04">Country</label>
        <input type="text" class="form-control" value="{{ object.wire_details.intermediary_bank_country }}" id="validationDefault04" placeholder="Country" required disabled>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Routing Number</label>
        <input type="text" value="{{ object.wire_details.intermediary_routing_number }}" class="form-control" id="validationDefault05" placeholder="Routing Number" required disabled>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">SWIFT</label>
        <input type="text" value="{{ object.wire_details.intermediary_bank_swift }}" class="form-control" id="validationDefault03" placeholder="SWIFT" required disabled>
      </div>
      <div class="col-md-3 pe-3 mb-3">
        <label for="validationDefault04">IBAN</label>
        <input value="{{ object.wire_details.intermediary_bank_iban }}" type="text" class="form-control" id="validationDefault04" placeholder="IBAN" required disabled>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05"></label>
        <span class="form-control"><a href="https://sanctionssearch.ofac.treas.gov/" target="_blank" class="cbFormDataLink">OFAC Check</a></span>
      </div>
    </div>
    <div style="display: flex" class="form-row">
      <div class="col-md-6 pe-3 mb-3">
        <label for="validationDefault03">Description</label>
        <input type="text" value="{{ object.wire_details.description }}" class="form-control" id="validationDefault03" placeholder="Description" required disabled>
      </div>
      <div class="col-md-6">
        <label for="validationDefault04">Purpose Of Wire</label>
        <input value="{{ object.wire_details.purpose_of_wire }}" type="text" class="form-control" id="validationDefault04" placeholder="Purpose Of Wire" required disabled>
      </div>
    </div>
  </div>
</div>
<div className="mt-0" style="padding: 2rem; padding-top: 0rem;">
  <button class="btn btn-outline-info btn-sm btn-block" onclick="window.print();return false;">Print</button>
  {% trans "Submit" as the_btn_label %}
</div>
</div>
{% endblock %}


  
